In [1]:
packages <- c("viridis", "readr", "jsonlite", "httr", "ggplot2", "dplyr", "stringr")
for(pkg in packages) {
  library(pkg, character.only = TRUE)
}
packages <- c("viridis", "readr", "jsonlite", "httr", "ggplot2", "dplyr", "stringr")
lapply(packages, library, character.only = TRUE)

Loading required package: viridisLite


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

[[1]]
 [1] "stringr"     "dplyr"       "ggplot2"     "httr"        "jsonlite"
 [6] "readr"       "viridis"     "viridisLite" "repr"        "stats"
[11] "graphics"    "grDevices"   "utils"       "datasets"    "methods"
[16] "base"

[[2]]
 [1] "stringr"     "dplyr"       "ggplot2"     "httr"        "jsonlite"
 [6] "readr"       "viridis"     "viridisLite" "repr"        "stats"
[11] "graphics"    "grDevices"   "utils"       "datasets"    "methods"
[16] "base"

[[3]]
 [1] "stringr"     "dplyr"       "ggplot2"     "httr"        "jsonlite"
 [6] "readr"       "viridis"     "viridisLite" "repr"        "stats"
[11] "graphics"    "grDevices"   "utils"       "datasets"    "methods"
[16] "base"

[[4]]
 [1] "stringr"     "dplyr"       "ggplot2"     "httr"        "jsonlite"
 [6] "readr"       "viridis"     "viridisLite" "repr"        "stats"
[11] "graphics"    "grDevices"   "utils"       "datasets"    "methods"
[16] "base"

[[5]]
 [1] "stringr"     "dplyr"       "ggplot2"     "httr"        "jsonlite"
 [6] "readr"       "viridis"     "viridisLite" "repr"        "stats"
[11] "graphics"    "grDevices"   "utils"       "datasets"    "methods"
[16] "base"

[[6]]
 [1] "stringr"     "dplyr"       "ggplot2"     "httr"        "jsonlite"
 [6] "readr"       "viridis"     "viridisLite" "repr"        "stats"
[11] "graphics"    "grDevices"   "utils"       "datasets"    "methods"
[16] "base"

[[7]]
 [1] "stringr"     "dplyr"       "ggplot2"     "httr"        "jsonlite"
 [6] "readr"       "viridis"     "viridisLite" "repr"        "stats"
[11] "graphics"    "grDevices"   "utils"       "datasets"    "methods"
[16] "base"

In [2]:
url <- "http://data.insideairbnb.com/the-netherlands/north-holland/amsterdam/2023-09-03/data/listings.csv.gz"
The_Netherlands <- read_csv(gzcon(url(description = url, open = "r")))

The_Netherlands$price <- as.numeric(str_remove_all(The_Netherlands$price, "[$,]"))

Rows: 8386 Columns: 75
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (25): listing_url, source, name, description, neighborhood_overview, pi...
dbl  (37): id, scrape_id, host_id, host_listings_count, host_total_listings_...
lgl   (8): host_is_superhost, host_has_profile_pic, host_identity_verified, ...
date  (5): last_scraped, host_since, calendar_last_scraped, first_review, la...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
url <- "http://data.insideairbnb.com/belgium/vlg/antwerp/2023-09-23/data/listings.csv.gz"
Belgium <- read_csv(gzcon(url(description = url, open = "r")))

Belgium$price <- as.numeric(str_remove_all(Belgium$price, "[$,]"))

Rows: 2702 Columns: 75
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (24): listing_url, source, name, description, neighborhood_overview, pi...
dbl  (37): id, scrape_id, host_id, host_listings_count, host_total_listings_...
lgl   (9): host_is_superhost, host_has_profile_pic, host_identity_verified, ...
date  (5): last_scraped, host_since, calendar_last_scraped, first_review, la...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [4]:
url <- "http://data.insideairbnb.com/greece/attica/athens/2023-09-21/data/listings.csv.gz"
Greece <- read_csv(gzcon(url(description = url, open = "r")))

Greece$price <- as.numeric(str_remove_all(Greece$price, "[$,]"))

Rows: 12955 Columns: 75
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (25): listing_url, source, name, description, neighborhood_overview, pi...
dbl  (37): id, scrape_id, host_id, host_listings_count, host_total_listings_...
lgl   (8): host_is_superhost, host_has_profile_pic, host_identity_verified, ...
date  (5): last_scraped, host_since, calendar_last_scraped, first_review, la...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [10]:
url <- "http://data.insideairbnb.com/australia/sa/barossa-valley/2023-09-22/data/listings.csv.gz"
Australia <- read_csv(gzcon(url(description = url, open = "r")))

Rows: 332 Columns: 75
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (23): listing_url, source, name, description, neighborhood_overview, pi...
dbl  (37): id, scrape_id, host_id, host_listings_count, host_total_listings_...
lgl  (10): host_is_superhost, host_neighbourhood, host_has_profile_pic, host...
date  (5): last_scraped, host_since, calendar_last_scraped, first_review, la...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [11]:
url <- "http://data.insideairbnb.com/japan/kant%C5%8D/tokyo/2023-09-24/data/listings.csv.gz"
Japan <- read_csv(gzcon(url(description = url, open = "r")))

Rows: 12234 Columns: 75
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (25): listing_url, source, name, description, neighborhood_overview, pi...
dbl  (37): id, scrape_id, host_id, host_listings_count, host_total_listings_...
lgl   (8): host_is_superhost, host_has_profile_pic, host_identity_verified, ...
date  (5): last_scraped, host_since, calendar_last_scraped, first_review, la...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [12]:
url <- "http://data.insideairbnb.com/new-zealand/2023-09-02/data/listings.csv.gz"
New_Zealand <- read_csv(gzcon(url(description = url, open = "r")))

Warning message in (function (con, what, n = 1L, size = NA_integer_, signed = TRUE, :
“URL 'http://data.insideairbnb.com/new-zealand/2023-09-02/data/listings.csv.gz': Timeout of 60 seconds was reached”

ERROR: Error in (function (con, what, n = 1L, size = NA_integer_, signed = TRUE, : cannot read from connection

In [ ]:
url <- "http://data.insideairbnb.com/spain/catalonia/barcelona/2023-09-06/data/listings.csv.gz"
Spain <- read_csv(gzcon(url(description = url, open = "r")))

In [ ]:
url <- "http://data.insideairbnb.com/united-kingdom/england/london/2023-09-06/data/listings.csv.gz"
UK <- read_csv(gzcon(url(description = url, open = "r")))

In [ ]:
url <- "http://data.insideairbnb.com/united-states/tx/austin/2023-09-10/data/listings.csv.gz"
US <- read_csv(gzcon(url(description = url, open = "r")))

In [5]:
api_key <- "58c8eb71a98bc0e70380918c4ec1041c"
response <- GET(paste0("http://data.fixer.io/api/latest?access_key=", api_key, "&symbols=EUR,NZD"))
data <- fromJSON(content(response, as = "text"))
exchange_rate_eur_to_nzd <- data$rates$NZD / data$rates$EUR
The_Netherlands$price_nzd <- The_Netherlands$price * exchange_rate_eur_to_nzd
The_Netherlands_nzd <- The_Netherlands %>% mutate(price_nzd = price * exchange_rate_eur_to_nzd) %>% select(price_nzd, bathrooms_text, bedrooms)
The_Netherlands_nzd

     price_nzd bathrooms_text   bedrooms
1    109.2414  1 shared bath    NA
2    585.6057  2 baths           1
3    195.2019  1.5 baths        NA
4    519.3445  2.5 baths         3
5    268.6264  1 private bath   NA
6    134.3132  1 shared bath    NA
7    284.7440  1 bath           NA
8    395.7763  1 private bath    1
9    123.5682  1.5 shared baths NA
10   261.4631  1 private bath   NA
11   277.5807  1.5 baths        NA
12   141.4766  1 shared bath    NA
13   102.0781  1 shared bath    NA
14   429.8023  1.5 baths         2
15   481.7368  1.5 baths         2
16   589.1873  1 bath            2
17   805.8793  1.5 baths         2
18   268.6264  1 private bath   NA
19   234.6004  1 bath            1
20   231.0187  1.5 baths         1
21   266.8356  1.5 baths         2
22   214.9012  1.5 baths         1
23   207.7378  1.5 baths         1
24   250.7180  1 bath           NA
25   334.8876  1.5 baths         1
26   143.2674  1 shared bath    NA
27   259.6722  1 bath            1
28   537.2529  2.5 baths         4
29   358.1686  1.5 baths         1
30   465.6192  1 bath            3
⋮    ⋮         ⋮                ⋮
8357  537.2529 1 bath            1
8358  501.4360 1.5 baths         1
8359 2594.9315 3.5 baths         2
8360  447.7108 1 bath            1
8361  447.7108 1 bath            1
8362  671.5661 1 bath            2
8363  268.6264 1 bath            1
8364  458.4558 1.5 baths         2
8365  805.8793 2 baths           2
8366 3463.4904 3 baths           4
8367  322.3517 1 bath           NA
8368  268.6264 1 bath            1
8369  727.0823 1.5 baths         1
8370  315.1884 1.5 baths         1
8371  286.5349 1 bath           NA
8372  607.0958 1 bath            1
8373 1253.5901 3 baths           4
8374  608.8866 1 bath            1
8375  313.3975 1 bath            2
8376  481.7368 1 bath            1
8377  537.2529 1.5 baths         2
8378  555.1613 1 bath            1
8379  376.0770 1 bath            1
8380  422.6389 1.5 baths         2
8381  447.7108 1 bath            2
8382  447.7108 1 bath            1
8383  603.5141 1 bath            3
8384  241.7638 1.5 baths         1
8385  286.5349 1 shared bath     1
8386  377.8679 1 bath            2

In [6]:
api_key <- "58c8eb71a98bc0e70380918c4ec1041c"
response <- GET(paste0("http://data.fixer.io/api/latest?access_key=", api_key, "&symbols=EUR,NZD"))
data <- fromJSON(content(response, as = "text"))
exchange_rate_eur_to_nzd <- data$rates$NZD / data$rates$EUR
Belgium$price_nzd <- Belgium$price * exchange_rate_eur_to_nzd
Belgium_nzd <- Belgium %>% mutate(price_nzd = price * exchange_rate_eur_to_nzd) %>% select(price_nzd, bathrooms_text, bedrooms)
Belgium_nzd

     price_nzd  bathrooms_text bedrooms
1     100.28721 1 bath          1
2     254.29971 1 private bath NA
3      71.63372 1 shared bath  NA
4     125.35901 1 private bath NA
5      62.67950 1 bath          1
6     895.42150 1 bath          1
7     268.62645 1.5 baths       3
8      80.58794 1 bath          1
9    1074.50580 1 bath          2
10    100.28721 1.5 baths      NA
11     44.77107 3 shared baths NA
12    121.77732 Half-bath      NA
13    173.71177 1 bath          1
14     80.58794 1 shared bath  NA
15    268.62645 1 bath          2
16     51.93445 1 shared bath  NA
17     68.05203 1 shared bath  NA
18    103.86889 1.5 baths       2
19    125.35901 1 bath          2
20    931.23836 2 baths         3
21     84.16962 1 bath          1
22    358.16860 1 bath         NA
23     50.14360 1.5 baths       1
24    143.26744 1 bath          1
25    188.03851 1 private bath  1
26    179.08430 1.5 baths       3
27    241.76380 1 bath          2
28    134.31322 1 bath          2
29    143.26744 1 bath          2
30    143.26744 1 bath          3
⋮    ⋮          ⋮              ⋮
2673 162.96671  1.5 baths       1
2674 239.97296  1.5 baths       2
2675 107.45058  1 bath          2
2676 116.40479  1.5 baths       2
2677 116.40479  1 bath         NA
2678 214.90116  1 bath          1
2679 447.71075  2.5 baths       3
2680 179.08430  1 bath          2
2681  89.54215  1 bath          1
2682 119.98648  1 bath          1
2683 100.28721  1 bath          2
2684  98.49636  1.5 baths       1
2685 127.14985  1.5 baths      NA
2686 268.62645  2 baths         3
2687 603.51409  1.5 baths       2
2688 239.97296  1.5 baths       2
2689 164.75756  1 bath          1
2690  91.33299  1 bath          1
2691 162.96671  1 bath          1
2692 143.26744  1 bath          1
2693  89.54215  2 shared baths NA
2694 152.22165  1 bath         NA
2695 191.62020  1 bath          2
2696 118.19564  2 shared baths 10
2697 268.62645  1.5 baths       1
2698 193.41104  1 bath         NA
2699 100.28721  1.5 baths       2
2700 216.69200  2 baths         2
2701 245.34549  1 bath          3
2702 141.47660  1 bath          1

In [7]:
api_key <- "58c8eb71a98bc0e70380918c4ec1041c"
response <- GET(paste0("http://data.fixer.io/api/latest?access_key=", api_key, "&symbols=EUR,NZD"))
data <- fromJSON(content(response, as = "text"))
exchange_rate_eur_to_nzd <- data$rates$NZD / data$rates$EUR
Greece$price_nzd <- Greece$price * exchange_rate_eur_to_nzd
Greece_nzd <- Greece %>% mutate(price_nzd = price * exchange_rate_eur_to_nzd) %>% select(price_nzd, bathrooms_text, bedrooms)
Greece_nzd

      price_nzd bathrooms_text bedrooms
1     257.89061 2 baths         3
2     125.36349 1 bath          1
3     152.22709 1 bath         NA
4     107.45442 1 bath          1
5      62.68174 1 bath          1
6     152.22709 1 bath          1
7      89.54535 1 shared bath  NA
8     177.29979 1 bath          1
9      69.84537 1 shared bath   1
10     53.72721 1 bath          2
11     55.51812 1 bath          2
12    322.36326 1.5 baths       3
13     85.96354 1 bath          1
14     57.30902 1 bath          1
15     80.59082 1 bath          1
16    626.81745 3.5 baths       2
17    134.31803 1 bath          1
18    537.27210 3 baths         3
19    112.82714 1.5 baths       1
20     98.49989 1 bath          1
21    137.89984 1 bath          2
22    105.66351 1 bath          2
23    125.36349 2 baths         2
24    107.45442 1 bath          1
25     66.26356 1.5 baths       2
26    125.36349 1 bath          1
27    659.05378 1 bath          1
28    132.52712 1.5 baths       2
29     53.72721 1 bath          1
30     53.72721 1 bath          1
⋮     ⋮         ⋮              ⋮
12926  46.56358 1 bath         1
12927 100.29079 1 bath         2
12928 214.90884 1 bath         1
12929  64.47265 1 bath         1
12930 211.32703 1 bath         1
12931 105.66351 1.5 baths      2
12932 395.79045 1 bath         1
12933 125.36349 1 bath         1
12934  80.59082 1 bath         1
12935  91.33626 1 bath         1
12936 107.45442 1 bath         1
12937  44.77267 1 bath         1
12938 155.80891 1 bath         2
12939 200.58158 1 bath         1
12940 186.25433 1 bath         1
12941  48.35449 1 bath         1
12942 200.58158 1 bath         1
12943 229.23610 1 bath         1
12944 200.58158 1 bath         1
12945 186.25433 1 bath         1
12946 229.23610 1 bath         1
12947 229.23610 1 bath         1
12948 186.25433 1 bath         1
12949 229.23610 1 bath         1
12950 229.23610 1 bath         1
12951 186.25433 1 bath         1
12952 177.29979 1 bath         1
12953  53.72721 1 bath         1
12954  94.91807 1 bath         1
12955 114.61805 1 bath         1

In [ ]:
US$price <- as.numeric(str_remove_all(US$price, "[$,]"))
api_key <- "58c8eb71a98bc0e70380918c4ec1041c"
response <- GET(paste0("http://data.fixer.io/api/latest?access_key=", api_key, "&symbols=USD,NZD"))
data <- fromJSON(content(response, as = "text"))
exchange_rate_usd_to_nzd <- data$rates$NZD / data$rates$USD
US$price_nzd <- US$price * exchange_rate_usd_to_nzd
US_nzd <- US %>% mutate(price_nzd = price * exchange_rate_usd_to_nzd) %>% select(price_nzd, bathrooms_text, bedrooms)
US_nzd

In [ ]:
Spain$price <- as.numeric(str_remove_all(Spain$price, "[$,]"))
api_key <- "58c8eb71a98bc0e70380918c4ec1041c"
response <- GET(paste0("http://data.fixer.io/api/latest?access_key=", api_key, "&symbols=EUR,NZD"))
data <- fromJSON(content(response, as = "text"))
exchange_rate_eur_to_nzd <- data$rates$NZD / data$rates$EUR
Spain$price_nzd <- Spain$price * exchange_rate_eur_to_nzd
Spain_nzd <- Spain %>% mutate(price_nzd = price * exchange_rate_eur_to_nzd) %>% select(price_nzd, bathrooms_text, bedrooms)
Spain_nzd

In [ ]:
UK$price <- as.numeric(str_remove_all(UK$price, "[$,]"))
api_key <- "58c8eb71a98bc0e70380918c4ec1041c"
response <- GET(paste0("http://data.fixer.io/api/latest?access_key=", api_key, "&symbols=EUR,NZD"))
data <- fromJSON(content(response, as = "text"))
exchange_rate_eur_to_nzd <- data$rates$NZD / data$rates$EUR
UK$price_nzd <- UK$price * exchange_rate_eur_to_nzd
UK_nzd <- Greece %>% mutate(price_nzd = price * exchange_rate_eur_to_nzd) %>% select(price_nzd, bathrooms_text, bedrooms)
UK_nzd

In [ ]:
Japan$price <- as.numeric(str_remove_all(Japan$price, "[$,]"))
api_key <- "58c8eb71a98bc0e70380918c4ec1041c"
response <- GET(paste0("http://data.fixer.io/api/latest?access_key=", api_key, "&symbols=JPY,NZD"))
data <- fromJSON(content(response, as = "text"))
exchange_rate_jpy_to_nzd <- data$rates$NZD / data$rates$JPY
Japan$price_nzd <- Japan$price * exchange_rate_jpy_to_nzd
Japan_nzd <- Japan %>% mutate(price_nzd = price * exchange_rate_jpy_to_nzd) %>% select(price_nzd, bathrooms_text, bedrooms)
Japan_nzd

In [ ]:
Australia$price <- as.numeric(str_remove_all(Australia$price, "[$,]"))
api_key <- "58c8eb71a98bc0e70380918c4ec1041c"
response <- GET(paste0("http://data.fixer.io/api/latest?access_key=", api_key, "&symbols=AUD,NZD"))
data <- fromJSON(content(response, as = "text"))
exchange_rate_aud_to_nzd <- data$rates$NZD / data$rates$AUD
Australia$price_nzd <- Australia$price * exchange_rate_aud_to_nzd
Australia_nzd <- Australia %>% mutate(price_nzd = price * exchange_rate_aud_to_nzd) %>% select(price_nzd, bathrooms_text, bedrooms)
Australia_nzd

In [ ]:
New_Zealand$price <- as.numeric(str_remove_all(New_Zealand$price, "[$,]"))
api_key <- "58c8eb71a98bc0e70380918c4ec1041c"
response <- GET(paste0("http://data.fixer.io/api/latest?access_key=", api_key, "&symbols=NZD,NZD"))
data <- fromJSON(content(response, as = "text"))
exchange_rate_nzd_to_nzd <- data$rates$NZD / data$rates$NZD
New_Zealand$price_nzd <- New_Zealand$price * exchange_rate_nzd_to_nzd
New_Zealand_nzd <- New_Zealand %>% mutate(price_nzd = price * exchange_rate_nzd_to_nzd) %>% select(price_nzd, bathrooms_text, bedrooms)
New_Zealand_nzd

In [13]:
# Add the new countries
The_Netherlands_nzd$country <- "The Netherlands"
Belgium_nzd$country <- "Belgium"
Greece_nzd$country <- "Greece"
Australia_nzd$country <- "Australia"
Japan_nzd$country <- "Japan"
US_nzd$country <- "US"
UK_nzd$country <- "UK"
Spain_nzd$country <- "Spain"
New_Zealand_nzd$country <- "New_Zealand"

# Combine all datasets
combined_data <- rbind(The_Netherlands_nzd, Belgium_nzd, Greece_nzd, Australia_nzd, Japan_nzd, US_nzd, UK_nzd, Spain_nzd, New_Zealand_nzd)

# Clean the data
combined_data$price_nzd <- as.numeric(gsub("[\\$,]", "", combined_data$price_nzd))

ERROR: Error: object 'Australia_nzd' not found

In [ ]:
# Create the plot
ggplot(combined_data, aes(x=reorder(country, price_nzd, FUN=median), y=price_nzd, fill=country)) +
  geom_boxplot(outlier.shape = NA) +
  geom_hline(yintercept = 0, linetype="dashed", color = "red") +
  scale_y_continuous(labels = scales::dollar_format(), breaks = seq(0, 1000, 200), limits = c(0, 1000)) +  # Adjust these values if needed
  coord_trans(y = "sqrt") +
  labs(
    title="The Airbnb Price Distribution in Nine Countries in NZD",
    x="Country",
    y="Price in NZD",
    subtitle="Boxplots represent the distribution of Airbnb listing prices",
    caption="Source: Airbnb"
  ) +
  theme_minimal(base_size = 11) +
  theme(legend.position="none") +
  scale_fill_brewer(palette = "Set3")